In [2]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [3]:
df=pd.read_csv('M:/1 T  обучалово\HomeWork/googleplaystore.csv') # 1. Загружаем наш DataFrame в переменную df и выведете на экран первые пять строк.
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\H'
<>:1: SyntaxWarning: invalid escape sequence '\H'
C:\Users\gavri\AppData\Local\Temp\ipykernel_18164\1864982876.py:1: SyntaxWarning: invalid escape sequence '\H'
  df=pd.read_csv('M:/1 T  обучалово\HomeWork/googleplaystore.csv') # 1. Загружаем наш DataFrame в переменную df и выведете на экран первые пять строк.

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [4]:
df.shape

(10841, 13)

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

Вывод:
---
Пропуски содержатся в столбцах: 2, 6, 8, 11, 12.

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [6]:
# Приводим название столбцов к pep8
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10841 non-null  object
 1   category        10841 non-null  object
 2   rating          9367 non-null   float64
 3   reviews         10841 non-null  object
 4   size            10841 non-null  object
 5   installs        10841 non-null  object
 6   type            10840 non-null  object
 7   price           10841 non-null  float64
 8   content_rating  10840 non-null  object
 9   genres          10841 non-null  object
 10  last_updated    10841 non-null  object
 11  current_ver     10833 non-null  object
 12  android_ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [7]:
# Используем fillna, чтобы не потерять важные данные.
df.fillna({"rating": 0}, inplace=True)

# Незначительное количество пропусков в остальных столбцах удаляем 
df.dropna(inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10829 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10829 non-null  object
 1   category        10829 non-null  object
 2   rating          10829 non-null  float64
 3   reviews         10829 non-null  object
 4   size            10829 non-null  object
 5   installs        10829 non-null  object
 6   type            10829 non-null  object
 7   price           10829 non-null  float64
 8   content_rating  10829 non-null  object
 9   genres          10829 non-null  object
 10  last_updated    10829 non-null  object
 11  current_ver     10829 non-null  object
 12  android_ver     10829 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.2+ MB

6. Выведите на экран минимум и максимум из столбца `Price`:

In [9]:
df.price.min()

0.0

In [10]:
df.price.max()

400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [11]:
print(df.rating.median())
print(df.rating.mean())

4.2
3.6231969710961307

In [22]:
print(pd.to_numeric(df['reviews']).median())
print(pd.to_numeric(df['reviews']).mean())

1688.5
406333.77063599456

8. Выведите на экран все уникальные значения категориального столбца Genres

In [13]:
df['genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [14]:
grouped_df = df.groupby('genres')['rating'].agg(['mean', 'median']).reset_index()
print(grouped_df)
# Таким образом, мы можем увидеть средние и медианные значения рейтинга для каждого жанра в отдельности.
# Эти результаты могут быть полезны при анализе данных, чтобы понять, какие жанры имеют наивысшие и наименьшие средние и медианные рейтинги.
# Что может быть важной информацией для принятия решений о контенте или продукции в соответствии с предпочтениями аудитории.

                                    genres      mean  median
0                                   Action  4.203288     4.3
1                Action;Action & Adventure  4.311765     4.3
2                                Adventure  4.069333     4.3
3             Adventure;Action & Adventure  4.423077     4.5
4                    Adventure;Brain Games  4.600000     4.6
..                                     ...       ...     ...
114                Video Players & Editors  3.711561     4.2
115     Video Players & Editors;Creativity  4.100000     4.1
116  Video Players & Editors;Music & Video  4.000000     4.0
117                                Weather  3.881707     4.2
118                                   Word  4.258621     4.4

[119 rows x 3 columns]

Выводы:
---
- В таблице мы видим приложения хорошего качества, т.к. оценки от 4.0 до 4.5.
- Жанр "Adventure;Brain Games" - самый популярный, т.к. имеет самую высокую медианную оценку - 4.6.
- Некоторые жанры, такие как "Video Players & Editors", имеют широкий разброс в оценках, что может указывать на разнообразие качества приложений в данной категории.
- Для большинства жанров медианная оценка близка к средней оценке, что может указывать на относительно равномерное распределение оценок.

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [16]:
grouped_df.loc[grouped_df['median']>4.5] # Вывод:Значения примерно в одинаковом диапазоне.

                          genres      mean  median
4          Adventure;Brain Games  4.600000     4.6
11       Art & Design;Creativity  4.400000     4.7
18            Board;Pretend Play  4.800000     4.8
35             Comics;Creativity  4.800000     4.8
55      Entertainment;Creativity  4.533333     4.6
64    Health & Fitness;Education  4.700000     4.7
74           Music;Music & Video  4.533333     4.6
87              Puzzle;Education  4.600000     4.6
105  Strategy;Action & Adventure  4.600000     4.6

Вывод:
---
- Оценки пользователей преимущественно положительные.
- Жанры Board;Pretend Play и Comics;Creativity имеют самый высокий средний и медианный рейтинг

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [17]:
df.duplicated().sum() #выведем количество дубликатов

483

In [18]:
df = df.drop_duplicates() # удаляем их

In [19]:
df.duplicated().sum()# Дубликаты отсутствуют

0

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [20]:
genre_counts = df['genres'].value_counts()
genre_counts.head(10)

genres
Tools              840
Entertainment      587
Education          526
Business           427
Medical            408
Productivity       407
Personalization    386
Lifestyle          372
Communication      366
Sports             364
Name: count, dtype: int64