In [148]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('googleplaystore.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [15]:
df.describe()

            Rating         Price
count  9367.000000  10841.000000
mean      4.193338      1.027273
std       0.537431     15.948971
min       1.000000      0.000000
25%       4.000000      0.000000
50%       4.300000      0.000000
75%       4.500000      0.000000
max      19.000000    400.000000

In [16]:
df.describe().T # Транспонирование матрицы

          count      mean        std  min  25%  50%  75%    max
Rating   9367.0  4.193338   0.537431  1.0  4.0  4.3  4.5   19.0
Price   10841.0  1.027273  15.948971  0.0  0.0  0.0  0.0  400.0

In [21]:
df.describe(include='object')

,App,Category,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,10841,10841,10841,10840,10840,10841,10841,10833,10838
unique,9660,34,6002,462,22,3,6,120,1378,2832,33
top,ROBLOX,FAMILY,0,Varies with device,"1,000,000+",Free,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,596,1695,1579,10039,8714,842,326,1459,2451

In [27]:
# Проверка наличия категорий в столбце

df[df.Category.isin(['FAMILY', 'MEDICAL'])]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2014,YouTube Kids,FAMILY,4.5,470694,Varies with device,"50,000,000+",Free,0.0,Everyone,Entertainment;Music & Video,"August 3, 2018",3.43.3,4.1 and up
2015,Candy Bomb,FAMILY,4.4,42145,20M,"10,000,000+",Free,0.0,Everyone,Casual;Brain Games,"July 4, 2018",2.9.3181,4.0.3 and up
2016,ROBLOX,FAMILY,4.5,4449910,67M,"100,000,000+",Free,0.0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2017,Jewels Crush- Match 3 Puzzle,FAMILY,4.4,14774,19M,"1,000,000+",Free,0.0,Everyone,Casual;Brain Games,"July 23, 2018",1.9.3901,4.0.3 and up
2018,Coloring & Learn,FAMILY,4.4,12753,51M,"5,000,000+",Free,0.0,Everyone,Educational;Creativity,"July 17, 2018",1.49,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10827,Fr Agnel Ambarnath,FAMILY,4.2,117,13M,"5,000+",Free,0.0,Everyone,Education,"June 13, 2018",2.0.20,4.0.3 and up
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0.0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0.0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0.0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up

In [40]:
df[df.Category.str.contains('FAMILY|MEDICAL')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2014,YouTube Kids,FAMILY,4.5,470694,Varies with device,"50,000,000+",Free,0.0,Everyone,Entertainment;Music & Video,"August 3, 2018",3.43.3,4.1 and up
2015,Candy Bomb,FAMILY,4.4,42145,20M,"10,000,000+",Free,0.0,Everyone,Casual;Brain Games,"July 4, 2018",2.9.3181,4.0.3 and up
2016,ROBLOX,FAMILY,4.5,4449910,67M,"100,000,000+",Free,0.0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2017,Jewels Crush- Match 3 Puzzle,FAMILY,4.4,14774,19M,"1,000,000+",Free,0.0,Everyone,Casual;Brain Games,"July 23, 2018",1.9.3901,4.0.3 and up
2018,Coloring & Learn,FAMILY,4.4,12753,51M,"5,000,000+",Free,0.0,Everyone,Educational;Creativity,"July 17, 2018",1.49,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10827,Fr Agnel Ambarnath,FAMILY,4.2,117,13M,"5,000+",Free,0.0,Everyone,Education,"June 13, 2018",2.0.20,4.0.3 and up
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0.0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0.0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0.0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up

In [51]:
# Transform с лямбда-функцией

df.groupby("Category")['Rating'].transform(lambda x: x.mean() - x.std())

0        3.999768
1        3.999768
2        3.999768
3        3.999768
4        3.999768
           ...
10836    3.684247
10837    3.684247
10838    3.525561
10839    3.917021
10840    3.400997
Name: Rating, Length: 10841, dtype: float64

In [150]:
df.groupby('Category').agg(price_mean = ('Price', 'mean'))

                     price_mean
Category
1.9                    0.000000
ART_AND_DESIGN         0.091846
AUTO_AND_VEHICLES      0.158471
BEAUTY                 0.000000
BOOKS_AND_REFERENCE    0.518485
BUSINESS               0.402761
COMICS                 0.000000
COMMUNICATION          0.214832
DATING                 0.134316
EDUCATION              0.115128
ENTERTAINMENT          0.053557
EVENTS                 1.718594
FAMILY                 1.234675
FINANCE                7.925765
FOOD_AND_DRINK         0.066772
GAME                   0.251136
HEALTH_AND_FITNESS     0.197478
HOUSE_AND_HOME         0.000000
LIBRARIES_AND_DEMO     0.011647
LIFESTYLE              6.180288
MAPS_AND_NAVIGATION    0.196715
MEDICAL                3.110065
NEWS_AND_MAGAZINES     0.014064
PARENTING              0.159667
PERSONALIZATION        0.392755
PHOTOGRAPHY            0.400627
PRODUCTIVITY           0.591816
SHOPPING               0.021077
SOCIAL                 0.054136
SPORTS                 0.260417
TOOLS                  0.317023
TRAVEL_AND_LOCAL       0.193605
VIDEO_PLAYERS          0.059771
WEATHER                0.395366

In [78]:
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0.0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0.0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0.0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0.0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0.0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [79]:
# Melt позволяет переворачивать таблицу, преобразуя столбцы в строки
pd.melt(df, id_vars=["App"], value_vars=['Reviews'])

                                                     App variable   value
0         Photo Editor & Candy Camera & Grid & ScrapBook  Reviews     159
1                                    Coloring book moana  Reviews     967
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  Reviews   87510
3                                  Sketch - Draw & Paint  Reviews  215644
4                  Pixel Draw - Number Art Coloring Book  Reviews     967
...                                                  ...      ...     ...
10836                                   Sya9a Maroc - FR  Reviews      38
10837                   Fr. Mike Schmitz Audio Teachings  Reviews       4
10838                             Parkinson Exercices FR  Reviews       3
10839                      The SCP Foundation DB fr nn5n  Reviews     114
10840      iHoroscope - 2018 Daily Horoscope & Astrology  Reviews  398307

[10841 rows x 3 columns]

In [81]:
# Melt позволяет переворачивать таблицу, преобразуя столбцы в строки
pd.melt(df, id_vars=["App"], value_vars=['Reviews','Price','Type'])

                                                     App variable   value
0         Photo Editor & Candy Camera & Grid & ScrapBook  Reviews     159
1                                    Coloring book moana  Reviews     967
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  Reviews   87510
3                                  Sketch - Draw & Paint  Reviews  215644
4                  Pixel Draw - Number Art Coloring Book  Reviews     967
...                                                  ...      ...     ...
32518                                   Sya9a Maroc - FR     Type    Free
32519                   Fr. Mike Schmitz Audio Teachings     Type    Free
32520                             Parkinson Exercices FR     Type    Free
32521                      The SCP Foundation DB fr nn5n     Type    Free
32522      iHoroscope - 2018 Daily Horoscope & Astrology     Type    Free

[32523 rows x 3 columns]

In [84]:
# ПИВОТ!)
pd.pivot_table(df, index=['Category'], values=['Rating','Price'], aggfunc='mean').reset_index()

               Category     Price     Rating
0                   1.9  0.000000  19.000000
1        ART_AND_DESIGN  0.091846   4.358065
2     AUTO_AND_VEHICLES  0.158471   4.190411
3                BEAUTY  0.000000   4.278571
4   BOOKS_AND_REFERENCE  0.518485   4.346067
5              BUSINESS  0.402761   4.121452
6                COMICS  0.000000   4.155172
7         COMMUNICATION  0.214832   4.158537
8                DATING  0.134316   3.970769
9             EDUCATION  0.115128   4.389032
10        ENTERTAINMENT  0.053557   4.126174
11               EVENTS  1.718594   4.435556
12               FAMILY  1.234675   4.192272
13              FINANCE  7.925765   4.131889
14       FOOD_AND_DRINK  0.066772   4.166972
15                 GAME  0.251136   4.286326
16   HEALTH_AND_FITNESS  0.197478   4.277104
17       HOUSE_AND_HOME  0.000000   4.197368
18   LIBRARIES_AND_DEMO  0.011647   4.178462
19            LIFESTYLE  6.180288   4.094904
20  MAPS_AND_NAVIGATION  0.196715   4.051613
21              MEDICAL  3.110065   4.189143
22   NEWS_AND_MAGAZINES  0.014064   4.132189
23            PARENTING  0.159667   4.300000
24      PERSONALIZATION  0.392755   4.335987
25          PHOTOGRAPHY  0.400627   4.192114
26         PRODUCTIVITY  0.591816   4.211396
27             SHOPPING  0.021077   4.259664
28               SOCIAL  0.054136   4.255598
29               SPORTS  0.260417   4.223511
30                TOOLS  0.317023   4.047411
31     TRAVEL_AND_LOCAL  0.193605   4.109292
32        VIDEO_PLAYERS  0.059771   4.063750
33              WEATHER  0.395366   4.244000

In [90]:
# НУНИК :)
df.nunique()

App               9660
Category            34
Rating              40
Reviews           6002
Size               462
Installs            22
Type                 3
Price               92
Content Rating       6
Genres             120
Last Updated      1378
Current Ver       2832
Android Ver         33
dtype: int64

In [97]:
df1 = pd.DataFrame({"id": range(11),
                    "data": [123,2332,123123,123123,12312,123123,321,5,9,10,4]})

df2 = pd.DataFrame({"id": range(11),
                    "data": [3,3,3,4,5,6,7,5,9,10,4]})

In [98]:
df1.merge(df2, on='id') # Merge по id

    id  data_x  data_y
0    0     123       3
1    1    2332       3
2    2  123123       3
3    3  123123       4
4    4   12312       5
5    5  123123       6
6    6     321       7
7    7       5       5
8    8       9       9
9    9      10      10
10  10       4       4

In [119]:

pd.concat([df1, df2], axis=0) # Конкатенация по индексу

    id    data
0    0     123
1    1    2332
2    2  123123
3    3  123123
4    4   12312
5    5  123123
6    6     321
7    7       5
8    8       9
9    9      10
10  10       4
0    0       3
1    1       3
2    2       3
3    3       4
4    4       5
5    5       6
6    6       7
7    7       5
8    8       9
9    9      10
10  10       4

In [131]:
df1 = df.copy().head(10)

In [137]:
df1 = df1[['Rating']].copy()

In [138]:
df1.loc[len(df1)] = '4.1x'

In [140]:
check = df1.copy()

In [144]:
df1[pd.to_numeric(df1.Rating, 'coerce').isna()]

   Rating
10   4.1x
11   4.1x